.Back {
  display: flex;
  align-items: center;
  color: inherit;
  transition: all 0.15s;
  font-weight: 600;
  font-size: 0.85rem;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  margin-left: -0.5rem;
  border-radius: 0.5rem;
  i {
    font-size: 1.2rem;
    margin-right: 0.3rem;
  }

  &:hover {
    background-color: inherit;
  }
}
