---
const { href = "", label = "Back" } = Astro.props;
import "./Back.scss";
---

<div class="Back" onclick={`handleBackClick('${href}')`}>
  <i class="mdi mdi-keyboard-backspace"></i>
  {label}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function handleBackClick(href: string) {
      const isSameOrigin = document.referrer.includes(window.origin);
      if (!isSameOrigin) {
        window.location.href = "/";
      } else if (href !== "") {
        window.location.href = href;
      } else {
        window.history.back();
      }
    }
    // @ts-ignore
    window.handleBackClick = handleBackClick;
  });
</script>
