---
const { id, icon, label, onclick, disabled, highlight, tag } = Astro.props;
import "./Pill.scss";
---

<a href={`/practice/tag/${tag}`}>
  <button
    id={id}
    class={`Pill ${disabled ? "Pill--disabled" : "Pill--enabled"} ${
      highlight ? "Pill--highlighted" : ""
    }`}
    onclick={onclick}
  >
    <div class="Pill__label">{"# " + label} {icon && <i class={icon} />}</div>
  </button>
</a>
