---
const { questionIndex, optionIndex, option, interactive } = Astro.props;
import "./MultipleChoiceQuestionOption.scss";

const letterOptions = ["a", "b", "c", "d", "e"];
---

<div
  id={`MultipleChoiceQuestion-${questionIndex}-option-${optionIndex}`}
  class={`MultipleChoiceQuestionOption`}
  data-correct={option.correct ? "true" : "false"}
  data-selected="false"
  data-revealed="false"
>
  <div class="MultipleChoiceQuestionOption__letter">
    ({letterOptions[optionIndex]})
  </div>
  <div class="MultipleChoiceQuestionOption__label">{option.label}</div>
</div>
