.MultipleChoiceQuestionOption {
  height: 3rem;
  display: flex;
  justify-content: left;
  align-items: center;
  border-style: solid;
  border-radius: 0.6rem;
  border-width: 0.1rem;
  border-color: #c0c0c07f;
  margin: 1rem 0rem;
  transition: all 0.15s;

  &__letter {
    margin: 0.5rem;
  }

  &:hover {
    background-color: #ededed;

    &[data-selected="false"] {
      cursor: pointer;
    }
  }

  &[data-revealed="false"] {
    &[data-selected="true"] {
      background-color: #eaeaea;
    }
  }

  &[data-correct="true"] {
    &[data-revealed="true"] {
      &[data-selected="true"] {
        background-color: rgb(20, 255, 20);
      }
      &[data-selected="false"] {
        background-color: rgb(20, 255, 20, 0.5);
      }
    }
  }

  &[data-correct="false"] {
    &[data-revealed="true"] {
      &[data-selected="true"] {
        background-color: rgb(255, 67, 67);
      }
    }
  }
}
