---
const { questionIndex, optionIndex, option, interactive, displaySolution } =
  Astro.props;
import "./MultipleChoiceQuestionOption.scss";

const letterOptions = ["a", "b", "c", "d", "e"];
const initiallyDisplaySelectedSolution = displaySolution && option.correct;
---

<div
  id={`MultipleChoiceQuestion-${questionIndex}-option-${optionIndex}}`}
  class={`MultipleChoiceQuestionOption`}
  data-correct={option.correct ? "true" : "false"}
  data-selected={initiallyDisplaySelectedSolution ? "true" : "false"}
  data-revealed={displaySolution ? "true" : "false"}
  data-interactive={interactive ? "true" : "false"}
>
  <div class="MultipleChoiceQuestionOption__letter">
    ({letterOptions[optionIndex]})
  </div>
  <div class="MultipleChoiceQuestionOption__label">{option.label}</div>
</div>
