.RowCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  color: inherit;
  border-radius: 0.6rem;
  border-width: 0.1rem;
  border-color: inherit;
  border-style: solid;
  padding: 0.2rem 0.6rem;
  transition: all 0.2s;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  cursor: grab;

  &:hover {
    background-color: rgba(107, 107, 107, 0.753);
    .RowCard__icon {
      color: #e30614;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__icon {
    background-color: inherit;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
  }
}
