.RowCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  color: black;
  border-radius: 0.6rem;
  border-width: 0.1rem;
  border-color: #f1f1f1;
  border-style: solid;
  padding: 0.2rem 0.6rem;
  transition: all 0.2s;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  height: 4rem;
  cursor: grab;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__description {
    font-size: 0.8rem;
    color: #717171d5;
  }

  &:hover {
    background-color: rgba(248, 248, 248, 0.753);
    .RowCard__icon {
      color: #e30614;
    }
  }

  &__section {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__icon {
    background-color: #f2f2f2;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
  }
}
