body {
  padding: 0;
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */
  background-color: var(--color-background);
  color: var(--color-foreground);

  --color-background: #ffffff;
  --color-foreground: #1f2023;
  --color-accent: #5c6ac4;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #1f2023;
    --color-foreground: #ffffff;
  }
}
