---
import { getCollection } from "astro:content";
import Base from "../layouts/Base/Base.astro";
---

<Base title="Question Repository">
  <h1>Carleton Computer Science Question Repository</h1>
  <div>
    <a href="/evaluations">Evaluations</a>
  </div>
</Base>
