---
import { getCollection } from "astro:content";
import { default as Layout } from "src/layouts/Content/Content.astro";
import RowCard from "@components/RowCard/RowCard.astro";
const rowCardInfo = [
  {
    title: "Go through past midterms and finals here!",
    icon: "mdi mdi-book-open-variant",
    link: "/evaluations/",
  },
  {
    title: "Check out all the courses we currently have here!",
    icon: "mdi mdi-school",
    link: "/courses",
  },
  {
    title: "Farm through questions based on topic!",
    icon: "mdi mdi-tag",
    link: "/evaluations",
  },
];
---

<Layout title="Carleton Computer Science Practice Questions Repository">
  <h1>Carleton Computer Science Practice Questions Repository</h1>
  <div>
    Dedicated to my Discrete Math II classmates who couldn't make it to the end
    with me
  </div>
  <br />
  <div>
    {
      rowCardInfo.map((card) => (
        <>
          <div>
            <a href={card.link}>
              <RowCard title={card.title} icon={card.icon} />
            </a>
          </div>
          <br />
        </>
      ))
    }
  </div>
</Layout>
