---
import { getCollection } from "astro:content";
import { default as Layout } from "src/layouts/Content/Content.astro";
---

<Layout title="Carleton Computer Science Question Repository">
  <h1>Carleton Computer Science Question Repository</h1>
  <div>(coming soon)</div>
  <br />
  <div>
    <a href="/evaluations">Evaluations</a>
  </div>
</Layout>
