---
import Back from "@components/Back/Back.astro";
import { default as Layout } from "src/layouts/Content/Content.astro";
import RowCard from "@components/RowCard/RowCard.astro";

const tags = [
  "comp2804-midterm",
  "comp2804-final",
  "comp2804-de-morgan's-law-(no-corresponding-chapter)",
  "comp2804-bitstrings",
  "comp2804-newton-binomial-coefficients",
  "comp2804-permutations",
  "comp2804-pigeonhole-principle",
  "comp2804-probability",
  "comp2804-recursion",
  "comp2804-the-product-rule-(3.1)",
  "comp2804-counting-bitstrings-of-length-n-(3.1.1)",
  "comp2804-counting-functions-(3.1.2)",
  "comp2804-placing-books-on-shelves-(3.1.3)",
  "comp2804-the-bijection-rule-(3.2.1)",
  "comp2804-the-complement-rule-(3.3)",
  "comp2804-the-sum-rule-(3.4)",
  "comp2804-the-principle-of-inclusion-and-exclusion-(3.5)",
  "comp2804-permutations-and-binomial-coefficients-(3.6)",
  "comp2804-permutations-and-binomial-coefficients-(3.6.1)",
  "comp2804-newton's-binomial-theorem-(3.6.2)",
  "comp2804-permutations-and-binomial-coefficients-(3.6.2)",
  "comp2804-combinatorial-proof-(3.7)",
  "comp2804-reordering-the-letters-of-a-word-(3.9.1)",
  "comp2804-counting-solutions-of-linear-equations-(3.9.2)",
  "comp2804-the-pigeonhole-principle-(3.10)",
  "comp2804-recursive-functions-(4.1)",
  "comp2804-fibonacci-numbers-(4.2)",
  "comp2804-counting-00-free-bitstrings-(4.2.1)",
  "comp2804-a-recursively-defined-set-(4.3)",
  "comp2804-uniform-probability-spaces-(4.4)",
  "comp2804-euclid's-algorithm-(4.5)",
  "comp2804-discrete-probability-(5)",
  "comp2804-basic-rules-of-probability-(5.3)",
  "comp2804-the-probability-of-getting-a-full-house-(5.4.1)",
  "comp2804-the-birthday-paradox-(5.5)",
  "comp2804-conditional-probability-(5.8)",
  "comp2804-the-law-of-total-probability-(5.9)",
  "comp2804-independent-events-(5.11)",
  "comp2804-rolling-two-dice-(5.11.1)",
  "comp2804-a-basic-property-of-independent-events-(5.11.2)",
  "comp2804-question-(5.73)",
  "comp2804-random-variables-and-expectation-(6)",
  "comp2804-random-variables-(6.1)",
  "comp2804-independent-random-variables-(6.2)",
  "comp2804-expected-values-(6.4)",
  "comp2804-linearity-of-expectations-(6.5)",
  "comp2804-determining-the-expected-value-(6.6.1)",
  "comp2804-determining-the-expected-value-(6.7.1)",
  "comp2804-indicator-random-variables-(6.8)",
];
const displayTags: { [key: string]: string } = {
  "comp2804-midterm": "COMP 2804 Midterm",
  "comp2804-final": "COMP 2804 Final Exam",
  "comp2804-de-morgan's-law-(no-corresponding-chapter)":
    "De Morgan's Law (no corresponding chapter)",
  "comp2804-bitstrings": "Bitstring",
  "comp2804-newton-binomial-coefficients": "Newton's Binomial Coefficients",
  "comp2804-permutations": "Permutation",
  "comp2804-pigeonhole-principle": "Pigeonhole Principle",
  "comp2804-probability": "Probability",
  "comp2804-recursion": "Recursion",
  "comp2804-the-product-rule-(3.1)": "The Product Rule (3.1)",
  "comp2804-counting-bitstrings-of-length-n-(3.1.1)":
    "Counting Bitstrings of Length n (3.1.1)",
  "comp2804-counting-functions-(3.1.2)": "Counting Functions (3.1.2)",
  "comp2804-placing-books-on-shelves-(3.1.3)":
    "Placing Books on Shelves (3.1.3)",
  "comp2804-the-bijection-rule-(3.2.1)": "The Bijection Rule (3.2.1)",
  "comp2804-the-complement-rule-(3.3)": "The Complement Rule (3.3)",
  "comp2804-the-sum-rule-(3.4)": "The Sum Rule (3.4)",
  "comp2804-the-principle-of-inclusion-and-exclusion-(3.5)":
    "The Principle of Inclusion and Exclusion (3.5)",
  "comp2804-permutations-and-binomial-coefficients-(3.6)":
    "Permutations and Binomial Coefficients (3.6)",
  "comp2804-permutations-and-binomial-coefficients-(3.6.1)":
    "Permutations and Binomial Coefficients (3.6.1)",
  "comp2804-newton's-binomial-theorem-(3.6.2)":
    "Newton's Binomial Theorem (3.6.2)",
  "comp2804-permutations-and-binomial-coefficients-(3.6.2)":
    "Permutations and Binomial Coefficients (3.6.2)",
  "comp2804-combinatorial-proof-(3.7)": "Combinatorial Proof (3.7)",
  "comp2804-reordering-the-letters-of-a-word-(3.9.1)":
    "Reordering the Letters of a Word (3.9.1)",
  "comp2804-counting-solutions-of-linear-equations-(3.9.2)":
    "Counting Solutions of Linear Equations (3.9.2)",
  "comp2804-the-pigeonhole-principle-(3.10)": "The Pigeonhole Principle (3.10)",
  "comp2804-recursive-functions-(4.1)": "Recursive Functions (4.1)",
  "comp2804-fibonacci-numbers-(4.2)": "Fibonacci Numbers (4.2)",
  "comp2804-counting-00-free-bitstrings-(4.2.1)":
    "Counting 00-Free Bitstrings (4.2.1)",
  "comp2804-a-recursively-defined-set-(4.3)": "A Recursively Defined Set (4.3)",
  "comp2804-uniform-probability-spaces-(4.4)":
    "Uniform Probability Spaces (4.4)",
  "comp2804-euclid's-algorithm-(4.5)": "Euclid's Algorithm (4.5)",
  "comp2804-discrete-probability-(5)": "Discrete Probability (5)",
  "comp2804-basic-rules-of-probability-(5.3)":
    "Basic Rules of Probability (5.3)",
  "comp2804-the-probability-of-getting-a-full-house-(5.4.1)":
    "The Probability of Getting a Full House (5.4.1)",
  "comp2804-the-birthday-paradox-(5.5)": "The Birthday Paradox (5.5)",
  "comp2804-conditional-probability-(5.8)": "Conditional Probability (5.8)",
  "comp2804-the-law-of-total-probability-(5.9)":
    "The Law of Total Probability (5.9)",
  "comp2804-independent-events-(5.11)": "Independent Events (5.11)",
  "comp2804-rolling-two-dice-(5.11.1)": "Rolling Two Dice (5.11.1)",
  "comp2804-a-basic-property-of-independent-events-(5.11.2)":
    "A Basic Property of Independent Events (5.11.2)",
  "comp2804-question-(5.73)": "Question (5.73)",
  "comp2804-random-variables-and-expectation-(6)":
    "Random Variables and Expectation (6)",
  "comp2804-random-variables-(6.1)": "Random Variables (6.1)",
  "comp2804-independent-random-variables-(6.2)":
    "Independent Random Variables (6.2)",
  "comp2804-expected-values-(6.4)": "Expected Values (6.4)",
  "comp2804-linearity-of-expectations-(6.5)": "Linearity of Expectations (6.5)",
  "comp2804-determining-the-expected-value-(6.6.1)":
    "Determining the Expected Value (6.6.1)",
  "comp2804-determining-the-expected-value-(6.7.1)":
    "Determining the Expected Value (6.7.1)",
  "comp2804-indicator-random-variables-(6.8)":
    "Indicator Random Variables (6.8)",
};
---

<Layout title="Practice By Tag">
  <div class="Question__bar">
    <div><Back href={`/`} label="Home" /></div>
  </div>
  <h1>Practice By Tag</h1>
  <p>
    Practice questions across all evaluations that are marked with a specific
    tag.
  </p>
  <div style="margin-top:2.5rem"></div>
  <div class="Evaluations__list" style="margin-bottom:0.75rem">
    {
      tags.map((tags) => (
        <div>
          <a href={`/practice/tag/${tags}`}>
            <RowCard
              title={`${displayTags[tags]} Questions`}
              icon="mdi mdi-tag"
            />
          </a>
        </div>
      ))
    }
  </div>
</Layout>

<style>
  p {
    color: gray;
  }

  .Evaluations__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
</style>
