---
import Back from "@components/Back/Back.astro";
import { default as Layout } from "src/layouts/Content/Content.astro";
import RowCard from "@components/RowCard/RowCard.astro";
import { getCollection } from "astro:content";

const tags = await getCollection("tags");
---

<Layout title="Practice By Tag">
  <div class="Question__bar">
    <div><Back href={`/`} label="Home" /></div>
  </div>
  <h1>Practice By Tag</h1>
  <p>
    Practice questions across all evaluations that are marked with a specific
    tag.
  </p>
  <div style="margin-top:2.5rem"></div>
  <div class="Evaluations__list" style="margin-bottom:0.75rem">
    {
      tags.map((tag) => (
        <div>
          <a href={`/practice/tag/${tag.data.tag}`}>
            <RowCard title={`${tag.data.title} Questions`} icon="mdi mdi-tag" />
          </a>
        </div>
      ))
    }
  </div>
</Layout>

<style>
  p {
    color: gray;
  }

  .Evaluations__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
</style>
