---
import MathJax from "@components/MathJax.svelte";
import Back from "@components/Back/Back.astro";
import Button from "@components/Button/Button.astro";

import { getCollection } from "astro:content";
import { default as Layout } from "src/layouts/Content/Content.astro";

export async function getStaticPaths() {
  const questions = await getCollection("questions");
  return questions
    .filter((question: any) => question.id.includes("index.md"))
    .map((page) => {
      return {
        params: { path: page.slug },
        props: { page },
      };
    });
}

const { path } = Astro.params;
const { page } = Astro.props;
const { Content } = await page.render();
---

<Layout title="Welcome to Astro.">
  <div class="Question__bar">
    <div><Back href={`/evaluations`} label="Evaluations" /></div>
  </div>
  <Content />
  <div class="Question__buttons">
    <a href={`/questions/solution/${path}`}
      ><Button
        label="Solution"
        disabled={page.data.solution ? false : true}
      /></a
    >
    <a href={`/questions/generator/${path}`}
      ><Button
        icon="mdi mdi-creation"
        label="Practice"
        disabled={page.data.generator ? false : true}
      /></a
    >
    <a
      href={`https://github.com/CarletonComputerScienceSociety/questions/blob/main/src/content/questions/${path}/index.md`}
      ><Button label="Contribute" /></a
    >
  </div>
  <MathJax client:load />
</Layout>
