---
import "./Sidebar.scss";
const { sections } = Astro.props;
---

<div class="Sidebar">
  <span class="mdi mdi-home"></span>
  <span class="mdi mdi-message-question"></span>
  <span class="mdi mdi-creation"></span>
  <span class="mdi mdi-tag"></span>
  <span class="mdi mdi-beaker"></span>
</div>
