.Content {
  display: flex;
  padding-bottom: 4rem;

  &__page {
    width: 100%;
    margin-left: 17rem;
  }

  @media (max-width: 768px) {
    &__page {
      margin-left: 0;
    }
  }
}

.Question__bar {
  display: flex;
  margin-bottom: 1.5rem;
}

.Question__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.Question__tags {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.Question__title__span {
  font-weight: 600 !important;
  margin-left: 0.25rem;
}

.Question__buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 2.5rem;
}
